/* Reusable full-width two-column section */
.fw-content {
  background: #fff;
  min-height: 307px;
}

.fw-text {
  max-width: 750px;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.fw-text h1 {
  color: #000;
  font-family: var(--font-family-base);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  padding: 0;
  margin: 0;
}

.fw-text p {
  color: #000;
  font-family: var(--font-family-base);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 145% */
  padding: 0;
  margin: 0;
}

.fw-image {
  display: block;
  width: 100%;
  height: 307px;
  object-fit: cover;
}

.max-w-container {
  background: #f4f5f7;
}

.fw-content {
  padding: 60px 30px;
}
.s-cards {
  max-width: 1920px;
  width: 100%;
  padding: 60px 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.s-cards h2 {
  margin-bottom: 10px;
  font-family: var(--font-family-base);
  font-size: 26px;
  font-weight: 700;
  line-height: 29px; /* 111.538% */
}

.s-cards p {
  color: #000;
  font-family: var(--font-family-base);
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  max-width: 777px;
}

.s-card {
  padding: 30px;
  border-radius: 20px;
}

.s-card h3 {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-base);
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
}

.s-card p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: var(--font-family-base);
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
}

.s-card ul,
li {
  margin-left: -5px;
  font-family: var(--font-family-base);
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
}

.s-card img {
  height: 100%;
  max-height: 128px;
}

.s-cards .col:nth-child(even) {
  background: #272626;
}

.s-cards .col:nth-child(odd) {
  background: #ed1f24;
}

.fw-bold-text {
  max-width: 956px;
}

.fw-bold-content {
  padding: 60px 30px;
}

.fw-bold-content.dark-bg {
  background: #272626;
}

.fw-bold-text h3 {
  color: #003001;
  font-family: var(--font-family-base);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px; /* 150% */
  max-width: 516px;
}

.dark-bg .fw-bold-text h3 {
  color: #fff;
}

.faq-heading-base {
  color: #000;
  font-family: var(--font-family-accent);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 40px 0;
  padding: 0;
  text-align: left;
}
.faq-container-base {
  max-width: 1068px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.cta-section {
  background: #eb2227;
  padding: 151px 30px;
}

.cta-container {
  max-width: 752px;
  margin: 0 auto;
}

.cta-container p {
  color: #fff;
  text-align: center;
  font-family: var(--font-family-base);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px; /* 140% */
}

.cta-btn {
  border-radius: 3px;
  background: #fff;
  height: 40px;
  color: #ed1f24;
  text-align: center;
  font-family: var(--font-family-accent);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; /* 200% */
}

.cta-btn:hover {
  background: #fff;

  color: #ed1f24;
}

.img-container {
  height: 128px;
}

@media (min-width: 1200px) {
  .fw-content {
    min-height: 648px;
    padding: 80px;
  }
  .fw-bold-content {
    padding: 80px;
  }
  .fw-bold-text {
    max-width: 956px;
  }
  .s-card {
    padding: 40px;
    border-radius: 20px;
  }
  .s-card:nth-child(1):nth-last-child(2),
  .s-card:nth-child(2):nth-last-child(1) {
    padding: 40px;
  }
  .fw-image {
    height: 100%;
  }
  .img-container {
    height: 100px;
    max-width: 157px;
    max-height: 128px;
  }

  .img-container img {
    height: 100%;
    max-height: 100px;
    max-width: 157px;
  }
  .s-cards {
    max-width: 1920px;
    width: 100%;
    padding: 80px;
    gap: 20px;
  }
  .faq-container-base {
    max-width: 1068px;
    margin: 0 auto;
    padding: 0 100px;
    width: 100%;
  }
  .faq-heading-base {
    color: #000;
    font-family: var(--font-family-accent);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
    margin: 0 0 40px 0;
    padding: 0;
    text-align: left;
  }
}
@media (min-width: 1500px) {
  .fw-content {
    min-height: 748px;
    padding: 100px;
  }
  .fw-bold-content {
    padding: 220px 220px 180px 220px;
  }
  .fw-bold-text {
    max-width: 956px;
  }
  .s-card {
    padding: 50px 57px;
    border-radius: 20px;
  }
  .s-card:nth-child(1):nth-last-child(2),
  .s-card:nth-child(2):nth-last-child(1) {
    padding: 63px 94px;
  }
  .fw-image {
    height: 748px;
  }
  .s-cards {
    max-width: 1920px;
    width: 100%;
    padding: 100px;
    gap: 20px;
  }
  .faq-container-base {
    max-width: 1068px;
    margin: 0 auto;
    padding: 0 100px;
    width: 100%;
  }
  .faq-heading-base {
    color: #000;
    font-family: var(--font-family-accent);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
    margin: 0 0 40px 0;
    padding: 0;
    text-align: left;
  }
}

/* new brake special page */

.brake-img {
  width: 300px;
  height: auto;
}

.brake-content {
  max-width: 630px !important;
  width: 100% !important;
  gap: 26px;
}

.brake-content h2 {
  color: #000;
  font-family: var(--font-family-base);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 125% */
  margin: 0;
}
.brake-content h3 {
  color: #000;
  font-family: var(--font-family-base);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}

.brake-content p {
  color: #000;
  font-family: var(--font-family-base);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.gap-80 {
  gap: 10px;
}

.break-section {
  padding: 60px 30px !important;
}

@media (min-width: 768px) {
  .brake-img {
    width: 442px;
    height: 418px;
  }
  .gap-80 {
    gap: 40px;
  }
  .brake-content h2 {
    color: #000;
    font-family: var(--font-family-base);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 125% */
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .brake-img {
    width: 542px;
    height: 518px;
    aspect-ratio: 113/108;
  }

  .gap-80 {
    gap: 80px;
  }
}

.card-brake {
  max-width: 1920px;
  width: 100%;
  padding: 10px 30px 170px 30px;
  gap: 67px;
  margin: 0 auto;
}

.card-brake > div > p {
  color: #000;
  font-family: var(--font-family-base);
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  margin-bottom: 40px;
}

/* Brake Cards Grid */
.brake-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  width: 100%;
  max-width: 1680px;
}

.brake-card {
  width: 100%;
  min-height: 430px;
  background: #fff;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.12);
  /* border-radius: 20px; */
  padding: 35px 50px 66px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.brake-card:hover {
  box-shadow: 0 0 7.5px 5px rgba(0, 0, 0, 0.3);
}

.brake-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 509px;
  height: 21px;
  background-image: url("../assets/img/long-bar.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
}

.brake-card h3 {
  color: #000;
  text-align: center;
  font-family: var(--font-family-base);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 164.286% */
  margin-bottom: 51px;
}

.brake-card img {
  max-width: 267.995px;
  height: auto;
  width: 100%;
  margin-bottom: 45px;
}

.brake-card p {
  color: #000;
  text-align: center;
  font-family: var(--font-family-base);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 21px;
}

.brake-card p span {
  color: #000;
  text-align: center;
  font-family: var(--font-family-base);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.brake-card a.services-button {
  min-width: 140px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Tablet Portrait - 2 columns */
@media (min-width: 768px) {
  .brake-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Laptop - 3 columns */
@media (min-width: 1024px) {
  .brake-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .brake-card {
    max-width: 540px;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .brake-cards-container {
    gap: 30px;
  }
}

@media (min-width: 1500px) {
  .brake-cards-container {
    gap: 40px;
  }
}
