.reviews-wrapper {
  display: flex;
  width: 100vw;
  height: auto;
  background: #1d1c1c;
  margin: 0 auto;
  overflow: hidden;
  max-height: 767px;
}

.reviews-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.reviews-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  display: flex;
  overflow: hidden;
  height: 100%;
}
.reviews-content {
  display: flex;
  flex-direction: column;
  padding: 145px 100px;
  align-items: start;
  justify-content: center;
  gap: 50px;
}
.reviews-heading {
  color: var(--color-white);
  font-family: var(--font-family-base);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px; /* 125% */
}
.reviews-description {
  color: var(--color-white);
  font-family: var(--font-family-base);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */

  span {
    color: var(--color-white);
    font-family: var(--font-family-base);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}

.reviews-google {
  width: 232px;
  height: 80.886px;
  flex-shrink: 0;
}
